<!-- Title -->
<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings">
      <md-icon md-svg-icon="images/icons/menu.svg"></md-icon>
    </md-button>

    <h2 flex md-truncate>Administrador de armónico</h2>

    <md-button class="md-icon-button" aria-label="More">
      <md-icon md-svg-icon="images/icons/eye.svg"></md-icon>
    </md-button>
  </div>
</md-toolbar>

<!-- Container -->
<div flex layout="row">

  <!-- Sidenav -->
  <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Sidenav Left</h1>
    </md-toolbar>
    <md-content layout-padding>
      Hello
    </md-content>
  </md-sidenav>

  <!-- Content -->
  <md-content flex id="content"></md-content>
</div>
